html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 23px;
  line-height: 1.4;
  max-width: 900px;
  margin: 0 auto;
}
#app {
  padding: 20px;
  text-align: center;
}
h1 {
  margin: 90px 0 50px 0;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 700;
}
h2 {
  line-height: 1.75rem;
  letter-spacing: 0.02rem;
  max-width: 540px;
  margin: 0 auto;
}
h3 {
  margin: 110px 0 50px 0;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
}
main {
  margin: 20px 0;
}
ol {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  text-align: left;
}
li {
  margin: 50px 0;
}
label {
  margin: 20px 0;
  display: block;
}
input {
  font: inherit;
  margin-left: 10px;
  padding: 4px 10px;
  border: none;
  border-bottom: 2px solid black;
}
button {
  color: white;
  font: inherit;
  padding: 8px 20px;
  background-color: black;
  border: none;
  cursor: pointer;
}
br {
  margin-bottom: 10px;
}
#instafeed {
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}
#instafeed * {
  margin: 0 auto;
}